* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#knowledge {
    position: relative;
    background-color: rgba(248, 246, 241, 0.7);
    margin-top: 90px;
    margin-bottom: 20px;
    padding: 0 50px;
}

.contrianer {
    position: relative;
    width: 100%;
    /* height: 100%; */
}

#knowledge .header-contrainer {
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    /* border: 1px solid #E0E0E0; */

}

#knowledge .header-contrainer img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.header-contrainer .title {
    font-family: "Kudryashev Headline";
    font-weight: 400;
    position: absolute;
    margin-top: 10%;
    left: 5%;
    z-index: 1;
    font-size: 96px;
    color: white;
}

.section01-contrainer {
    height: 440px;
    border-radius: 20px;
    overflow: hidden;
    /* border: 1px solid #E0E0E0; */
    margin-top: 16px;
}

.section01-contrainer .description {
    display: flex;
    /* gap: 20%; */
    justify-content: center;
    margin-top: 5%;
}

.description .des-1 {
    width: 30%;
}

.description .des-1 button {
    width: 124px;
    height: 44px;
    border: 1px dotted rgba(207, 152, 44, 1);
    border-radius: 42px;
    font-family: "DM Sans", sans-serif;
    background-color: white;
    font-weight: 400;
    font-size: 18px;
}

.description .des-2 {
    width: 1048px;
    height: 240px;
    text-align: start;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 56px;
    line-height: 60px;
    color: rgba(69, 69, 69, 1);
}

.section02-contrainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    display: flex;
    align-items: center;
    width: 95%;
    gap: 15px;
    padding-bottom: 6%;
}

.divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #c5c7c6;
    /* สีเส้น */
}

.divider-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section03-contrainer {
    height: 860px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #E0E0E0;
    margin-top: 16px;
}

.slide-1 {
    height: 860px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.slide-1 .title-1 {
    display: flex;
    position: absolute;
    font-size: 96px;
    color: white;
    top: 10%;
    left: 5%;
}

.title-1 .col-1 {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.title-1 .col-1 img{
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
}
.title-1 .col-2 {
    width: 647px;
    height: 166px;
    left: 5%;
    justify-content: center;
    align-items: center;
}

.title-1 .col-2 .title-col-2 p{
    width: 647px;
    font-family: "Kudryashev Headline";
    font-weight: 400;
    font-size: 96px;
    line-height: 83px;
    color: white;
    margin-bottom: 5%;
    margin-left: 10%;
}

.title-1 .col-2 .content-col-2 p{
    width: 647px;
    font-family: "DM Sans";
    font-weight: 200;
    font-size: 24px;
    line-height: 26px;
    color: white;
    margin-bottom: 5%;
    margin-left: 10%;
}

.title-1 .col-2 img{
    width: 647px;
    margin-bottom: 5%;
    margin-left: 10%;
}



.bg-slide-1 img {
    width: 100%;
    height: 860px;
    object-fit: cover;
    
}

.slide-2 {
    height: 860px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.slide-2 .title-2 {
    display: flex;
    position: absolute;
    font-size: 96px;
    color: white;
    top: 10%;
    left: 5%;
}

.title-2 .col-1 {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* .title-2 .col-1 img{
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
} */
.title-2 .col-1 {
    width: 647px;
    height: 166px;
    left: 5%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-2 .col-1 .title-col-1 p{
    width: 811px;
    font-family: "Kudryashev Headline";
    font-weight: 400;
    font-size: 96px;
    line-height: 83px;
    color: white;
    margin-bottom: 5%;
    margin-left: 10%;
}

.title-2 .col-1 .content-col-1 p{
    width: 686px;
    font-family: "DM Sans";
    font-weight: 200;
    font-size: 24px;
    line-height: 26px;
    color: white;
    margin-left: 10%;
    position: relative;
    z-index: 1;
    
}

.title-2 .col-1 .img-col-1{
    width: 647px;
    margin-left: 10%;
    position: relative;
}

.title-2 .col-1 .img-col-1 img{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.title-2 .col-1 .img-col-1 .img-man{
    position: absolute; /* ใช้เพื่อกำหนดตำแหน่งซ้อนทับ */
    top: -130px;/* ปรับตามตำแหน่งที่ต้องการ */
    left: 550px; /* ปรับตำแหน่งให้คร่อมข้อความ */
    z-index: 2; /* ทำให้รูปอยู่บนข้อความ */
    opacity: 0.9; /* เพิ่มความโปร่งใสเล็กน้อย (ถ้าต้องการ) */
}


.title-2 .col-2 img{
    width: 647px;
    margin-bottom: 5%;
    margin-left: 10%;
}



.bg-slide-2 img {
    width: 100%;
    height: 860px;
    object-fit: cover;
    
}

.ant-carousel .slick-slide {
    height: 860px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #793665; */
    color: white;
    border-radius: 20px;
}

/* ปรับลูกศรซ้าย */
.ant-carousel .slick-prev {
    font-size: 56px;
    transform: scale(1.5);
    display: flex;
    /* จัดเนื้อหาให้อยู่ตรงกลาง */
    justify-content: center;
    align-items: center;
    color: black;
    /* สีลูกศร */
    z-index: 2;
    /* ให้อยู่ด้านหน้าสไลด์ */
}

/* ปรับลูกศรขวา */
.ant-carousel .slick-next {
    font-size: 56px;
    transform: scale(1.5);
    display: flex;
    /* จัดเนื้อหาให้อยู่ตรงกลาง */
    justify-content: center;
    align-items: center;
    color: black;
    /* สีลูกศร */
    z-index: 2;
    /* ให้อยู่ด้านหน้าสไลด์ */
}

/* ปรับระยะห่างจากขอบของ Carousel */
.ant-carousel .slick-prev {
    left: -20px;
    /* ปรับระยะห่างด้านซ้าย */
}

.ant-carousel .slick-next {
    right: -20px;
    /* ปรับระยะห่างด้านขวา */
}

/* ปรับสีเมื่อ hover */
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    background: rgba(255, 255, 255, 0.7);
    /* สีพื้นหลังเมื่อ hover */
    color: black;
    /* สีลูกศรเมื่อ hover */
}

/* สีของ dots เมื่อไม่ถูกเลือก */
.ant-carousel .slick-dots li button {
    background-color: rgba(83, 83, 83, 0.842);
    /* เปลี่ยนสี dot ที่ไม่ได้เลือก */
    width: 12px;
    /* ขนาดของ dot */
    height: 12px;
    /* ขนาดของ dot */
    border-radius: 50%;
    /* ทำให้ dot เป็นวงกลม */
}

/* สีของ dots เมื่อถูกเลือก */
.ant-carousel .slick-dots li.slick-active button {
    background-color: rgba(0, 0, 0, 0.8);
    /* เปลี่ยนสี dot ที่ถูกเลือก */
    width: 16px;
    /* ขนาดที่ใหญ่ขึ้นเมื่อเลือก */
    height: 16px;
    /* ขนาดที่ใหญ่ขึ้นเมื่อเลือก */
}