.footer {
    text-align: center;
    background-color: rgba(14, 52, 30, 1);
    height: 150px;
    border-top: 10px solid rgba(207, 152, 44, 1);
}

.footer-header {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 0 50px;
    color: rgba(255, 255, 255, 1);
    line-height: 64px;
    background: none;
}

.logo-footer svg {
    width: 20%;
    height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
    flex-grow: 0;
}
