@font-face {
  font-family: "Kudryashev Headline";
  src: url("../../fonts/KudryashevHeadline-Sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@keyframes slideUp {
  0% {
    top: 100%;
    opacity: 0;
  }
  40% {
    top: 60%;
    opacity: 0.8;
  }
  70% {
    top: 55%;
    opacity: 0.9;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.text_titel {
  font-family: "Kudryashev Headline", sans-serif;
  font-weight: 400;
}

.rotating-container {
  height: 70px;
  overflow: hidden;
  display: inline-block;
}

.rotating-word {
  font-family: "Kudryashev Headline", sans-serif;
  color: #cf982c;
  position: absolute;
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
  font-size: 70px;
  margin-top: -10px;
}

.divider {
  display: flex;
  align-items: center;
  width: 95%;
  gap: 15px;
  padding-bottom: 6%;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #c5c7c6;
  /* สีเส้น */
}

.divider-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-icon svg {
  width: 20px;
  height: 20px;
}

.content_left {
  text-align: left;
  max-width: 510px;
  margin-bottom: 20px;
  padding-left: 105px;
  padding-top: 50px;
}

.content_left h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
}

.content_left p {
  font-size: 18px;
  line-height: 1.8;
}

.content_right {
  text-align: left;
  margin-bottom: 20px;
  padding-top: 50px;
}

.content_right h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
}

.content_right p {
  font-size: 18px;
  line-height: 1.8;
}

.heading h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.heading h1 span {
  font-size: 48px;
  color: #ffffff;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  padding-left: 105px;
}

.service {
  background-color: rgba(181, 190, 184, 0.44);
  color: rgba(255, 255, 255, 1);
  padding: 10px 20px;
  border-radius: 42px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: DM Sans;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.25px;
}

.background img {
  width: 100%;
  height: 71%;
  object-fit: fill;
  object-position: center center;
  filter: brightness(0.75) saturate(1.1);
  position: absolute;
  bottom: 0;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(
    to top,
    rgba(225, 191, 119, 1),
    rgba(225, 191, 119, 0.3)
  );
  mix-blend-mode: multiply;
  opacity: 0.9;
  z-index: -1;
}

.content_financial {
  padding-top: 50px;
  padding-left: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 1500px;
  min-width: 1200px;
}

.title p {
  font-family: Kudryashev Headline;
  color: rgba(248, 246, 241, 1);
  font-size: 80px;
  margin: -20px 0 20px;
  font-weight: 400;
}

.description {
  width: 600px;
}

.description p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgba(248, 246, 241, 1);
  font-family: DM Sans;
}

.services_financial {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  height: 44px;
}

.services_financial .services_financial_up {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.services_financial .services_financial_down {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.service-item {
  background: rgba(255, 255, 255, 0.2);
  height: 25px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-family: DM Sans;
}

.service-item_1 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-family: DM Sans;
  height: 25px;
  margin-top: 35px;
}

.content_strategic {
  /* padding-top: 50px; */
  padding-left: 105px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1500px;
  min-width: 1200px;
  padding-top: 0;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: 20px; 

}

.title-strategic p{
  width: 840px;
  font-family: DM Sans;
  color: rgb(0, 0, 0);
  font-size: 96px;
  margin-top: 10%;
  padding: 0;
  font-weight: 300;
  /* flex: 1; */
  justify-items: end;
  text-align: left;
  line-height: 1.1;
  
}

.des-strategic p {
  width: 830px;
  font-family: DM Sans;
  font-size: 24px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  /* flex: 1; */
  text-align: left;
  font-weight: 400;
}


.services_strategic {
  display: flex;
  flex: 1;
  text-align: left;
  height: 44px;
}

.service-item-strategic {
  font-size: 0.9rem;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  position: relative;
  font-weight: 400;
  font-family: DM Sans;
  margin-top: 100px;
}

.service-item-strategic Button {
  background:rgba(119, 146, 128, 1);
  color: white;
  height: 44px;
  border-radius: 42px;
  padding: 10px 20px;
}

.bg-strategic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.5px;
}

.bg-strategic img {
  width: 100%;
  height: 50%;
  object-fit: fill;
  object-position: center center;
  /* filter: brightness(0.75) saturate(1.1); */
  position: absolute;
  bottom: 0;
}

.content_business {
  padding-top: 50px;
  padding-left: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 1500px;
  min-width: 1200px;
}

.bg-business {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.5px;
}

.bg-business img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center center;
  /* filter: brightness(0.75) saturate(1.1); */
  position: absolute;
  bottom: 0;
}

.content_business {
  /* padding-top: 50px; */
  padding-left: 105px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1500px;
  min-width: 1200px;
  padding-top: 0;
}

.title-business p{
  font-family: Kudryashev Headline;
  color: rgba(248, 246, 241, 1);
  font-size: 80px;
  margin: 80px 0 20px;
  font-weight: 400;
  /* line-height: 80; */
}

.des-business {
  width: 100%;
}

.des-business p {
  font-size: 24px;
  line-height: 32px;
  margin: 80px 0px 20px;
  color: rgba(248, 246, 241, 1);
  font-family: DM Sans;
  font-weight: 300;
  /* justify-content: end; */
}
.services_business {
  display: flex;
  flex: 1;
  text-align: center;
  height: 44px;
  justify-content: flex-end;
}

.service-item-business {
  font-size: 0.9rem;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-end;
  position: relative;
  font-weight: 400;
  font-family: DM Sans;
  margin-top: 100px;
}

.service-item-business Button {
  background:rgba(119, 146, 128, 1);
  color: white;
  height: 44px;
  border-radius: 42px;
  padding: 10px 20px;
}