
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  /* background-color: #333; */
  color: white;
  text-align: center;
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* Home.modul.css */
@media (max-width: 768px) { /* Tablet styles */
  .rotating-word {
    font-size: 24px;
  }
}

@media (max-width: 480px) { /* Mobile styles */
  .rotating-word {
    font-size: 18px;
  }
  .content_financial {
    flex-direction: column;
  }
}

/* Container style */


.item {
  flex: 1 1 calc(33.33% - 16px); /* Three items per row */
}

@media (max-width: 768px) {
  .item {
    flex: 1 1 calc(50% - 16px); /* Two items per row */
  }
}

@media (max-width: 480px) {
  .item {
    flex: 1 1 100%; /* Full-width items */
  }
}

/* Dynamic Sizing */
h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem); /* Min: 1.5rem, Max: 2.5rem */
}